body{
    background-color: crimson;
}

.titulo{
    text-align: center;
    font-size: 40px;
}

.elementos{
    display: flex;
    gap: 1.5em;
    justify-content: center;
}

.tabela{
    width: 80%;
    margin: auto;
    padding: 2em;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 6px 20px;
    
}
#tabela{
    font-size: 1.2rem;
    text-align: left;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    overflow-x: scroll;

}

